.card {
  width: 800px;
  margin-bottom: 0;
}

.status {
  margin-bottom: 20px;
}

.hole-game {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hole {
  width: 150px;
  height: 150px;
  margin: 0 15px 30px;
  background: gray;
  border-radius: 50%;
}

.hole_has-mole {
  background-image: url(https://github.com/netology-code/ahj-homeworks/raw/AHJ-50/dom/pic/goblin.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

.mole-cursor {
  cursor: url('/pic/hummer.png'), help; /* pointer — запасной курсор */
}